@model IEnumerable<MusicEShop.Domain.ExternalModels.Booking>

@{
    ViewData["Title"] = "Tours";
}
		
<div class="m-3">
    <h4 class="ml-5 card-title">Our Sister Company Toursist Trips</h4>
</div>

<div class="container">

    <div class="row">

   
    @for (int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        var maxLength = 300; 
        var truncatedDescription = item.TravelPackage?.Description?.Length > maxLength ?
        item.TravelPackage.Description.Substring(0, maxLength) + "..." :
        item.TravelPackage?.Description;

        
        <div class="col-sm-12 col-md-4">
            <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">@item.TravelPackage?.Name</h5>
                <div class="card-subtitle mb-2 text-sm-end text-body-secondary">@item.TravelPackage?.DepartureDate.ToString("d")</div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="height: 200px">
                        @truncatedDescription
                    </li>
                    
                    <li class="list-group-item"> 
                        <span class="float-start"> Rooms </span> 
                        <b class="float-end">  @item.NumberOfRooms </b>
                    </li>
                    
                    <li class="list-group-item">
                                <span class="float-start"> Price </span>

                                  <b class="float-end"> @item.FullPrice EUR </b></li>
                </ul>

            </div>

            <img class="card-img-bottom object-fit-none" height="200" src="@item.TravelPackage?.Image" />
        </div>
        </div>
    }

    </div>

   
</div>
