@model IEnumerable<MusicEShop.Domain.DomainModels.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Albums</h1>

<div class="container">
    <div class="m-3">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-success" asp-action="Create">Create New Album</a>
        }

    </div>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        if (i % 4 == 0)
        {
            @:<div class="row mb-4">
        }

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: auto;">
                <img class="card-img-top" src="@item.CoverImage" alt="@item.Title" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text"><strong>Genre:</strong> @item.Genre</p>
                    <p class="card-text"><strong>Release Date:</strong> @item.ReleaseDate</p>
                    <p class="card-text"><strong>Artist:</strong> @item.Artist.Name</p>
                    <h6><strong>Price:</strong> $@item.Price</h6>
                </div>
                <div class="card-footer">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm" style="background-color: midnightblue; color: white; border: none;">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm "style="background-color: darkred; color: white; border: none;">Delete</a>
                    }
                    
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm" style="background-color: darkolivegreen; color: white; border: none;">Details</a>
                    
                </div>
            </div>
        </div>

        if (i % 4 == 3)
        {
            @:</div>
        }
    }


   
</div>
