@model IEnumerable<MusicEShop.Domain.DomainModels.Artist>

@{
    ViewData["Title"] = "Artists";
}

<div class="container">

<h3 class="mt-4">Artists</h3>

    <div class="my-1">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn custom-btn btn-sm" asp-action="Create">Create New Artist</a>

        }
    </div>

    <div class="row">

    @for (int i = 0; i < Model.Count(); i++)
    {
        var artist = Model.ElementAt(i);

        <div class="col-lg-3 col-sm-6 col-12">
            <div class="card">
                <img class="card-img-top" src="@artist.ArtistImage" alt="@artist.Name" style="height: 200px; object-fit: cover;">
                
                <div class="card-body">
                    <h5 class="card-title">@artist.Name</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="float-start"> Country </span>
                                <b class="float-end">  @artist.Country</b>
                            </li>

                            <li class="list-group-item">
                                <span class="float-start"> Genre </span>
                                <b class="float-end">  @artist.Genre</b>
                            </li>
                        </ul>
                </div>
                
                <div class="card-footer gap-1">
                    @if (User.IsInRole("Admin"))
                    {
                            <a asp-action="Edit" asp-route-id="@artist.Id" style="background-color: mediumpurple; border: none" class="btn btn-primary flex-grow-1">Edit</a>
                            <a asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-danger flex-grow-1">Delete</a>
                    }
                    
                        <a asp-action="Details" asp-route-id="@artist.Id" class="btn btn-primary flex-grow-1" style="background-color: mediumseagreen; border: none">Details</a>
                </div>
            </div>
        </div>

    }
    </div>
</div>
