@model IEnumerable<MusicEShop.Domain.DomainModels.Artist>

@{
    ViewData["Title"] = "Artists";
}

<h1 class="text-center mt-4">Artists</h1>

<div class="container">
    <div class="text-center my-3">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn custom-btn" asp-action="Create">Create New Artist</a>

        }
    </div>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var artist = Model.ElementAt(i);
        if (i % 4 == 0)
        {
            @:<div class="row mb-4">
        }

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: auto;">
                <img class="card-img-top" src="@artist.ArtistImage" alt="@artist.Name" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@artist.Name</h5>
                    <p class="card-text"><strong>Country:</strong> @artist.Country</p>
                    <p class="card-text"><strong>Genre:</strong> @artist.Genre</p>
                </div>
                <div class="card-footer">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@artist.Id" class="btn btn-sm" style="background-color: midnightblue; color: white; border: none;">Edit</a>
                        <a asp-action="Delete" asp-route-id="@artist.Id" class="btn btn-sm " style="background-color: darkred; color: white; border: none;">Delete</a>
                    }
                    
                    <a asp-action="Details" asp-route-id="@artist.Id" class="btn btn-sm" style="background-color: darkolivegreen; color: white; border: none;">Details</a>
                </div>
            </div>
        </div>

        if (i % 4 == 3)
        {
            @:</div>
        }
    }
</div>
